
*{
  background: lightblue;
}

header {
  text-align: center;
  color: grey;
}

h2 {
  font-weight: bolder;
}

img {
  border: 2px;
}

.box{
  text-align: center;
}

.choice{
  width: 200px;
  height: 200px;
}

#one, #two, #three {
  margin: 5%;
}
